.banner
    .image
    .banner__container
        .banner__row
            .banner__info
                .banner__title WELCOME #[br] #[span BONUS]
            .banner__dep
                .banner__dep-left
                    .in $ 3000
                    .in $ 3000
                    p $ 3000 / ₹ 30 000 #[span for a deposit]
                    .in $ 3000
                    .in $ 3000
                    .in $ 3000
                    .in.in-none $ 3000
                    .in.in-mob $ 3000
                .banner__dep-right
                    .in $ 60
                    .in.in-mob $ 60
                    .in.in-mob $ 60
                    .in $ 60
                    .in $ 60
                    .in $ 60
                    p $ 60 / ₹ 4 000 #[span on a Risk-free bet]
                    .in $ 60
                    .in.in-last $ 60
                    .in.in-mob $ 60
                    .in.in-mob $ 60
                    .in.in-mob $ 60
